.block {
  padding: 13px 20px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.columns {
  display: flex;
  gap: 60px;
  align-items: flex-end;
}

.column {
  width: 80px;
  border-radius: 10px;
  overflow: hidden;
}

.column__component {
  font-weight: 700;
  font-size: 14px;
  color: var(--color_font_contrast);
  display: flex;
  align-items: center;
  justify-content: center;
}

.column__component:first-child {
  background-color: var(--color_metric_01);
}

.column__component:nth-child(2) {
  background-color: var(--color_metric_02);
}

.column__component:nth-child(3) {
  background-color: var(--color_metric_03);
}

.column__label {
  font-weight: 400;
  font-size: 10px;
  text-align: center;
}

.column__standard {
  background: repeating-linear-gradient(
    -45deg,
    #fff,
    #fff 10px,
    #4ab6e8 10px,
    #4ab6e8 25px
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.column__standard span {
  background-color: #fff;
  display: inline-block;
  height: 24px;
  width: 48px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
}

.legend {
  margin-top: 40px;
}

.legend ul {
  list-style: none;
  display: flex;
  gap: 47px;
}

.legend__item {
  position: relative;
  padding-left: 24px;
}

.legend__item::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 5%;
  height: 16px;
  width: 16px;
  border-radius: 3px;
}

.legend__item:first-child::before {
  background-color: var(--color_metric_01);
}
.legend__item:nth-child(2)::before {
  background-color: var(--color_metric_02);
}
.legend__item:nth-child(3)::before {
  background-color: var(--color_metric_03);
}

svg {
  stroke: black;
}
