:root {
  --color_metric_01: #4ab6e8;
  --color_metric_02: #aa6fac;
  --color_metric_03: #e85498;
  --color_background: #ffffff;
  --color_font: #898290;
  --color_font_contrast: #ffffff;
  --color_stroke: #898290;
  --color_good: #00cc99;
  --color_bad: #fc440f;
}

:root {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  color-scheme: light;
  color: var(--color_font);
  background-color: var(--color_background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

.app {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
